[submodule "submodules/gh-mrva"]
	path = submodules/gh-mrva
	url = ../gh-mrva.git
[submodule "submodules/mrvaagent"]
	path = submodules/mrvaagent
	url = ../mrvaagent.git
[submodule "submodules/mrvacommander"]
	path = submodules/mrvacommander
	url = ../mrvacommander.git
[submodule "submodules/mrvaserver"]
	path = submodules/mrvaserver
	url = ../mrvaserver.git
[submodule "submodules/mrvahepc"]
	path = submodules/mrvahepc
	url = ../mrvahepc.git
[submodule "submodules/mrva-docker"]
	path = submodules/mrva-docker
	url = ../mrva-docker.git
